<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Super GeoCoder App by AlexStanuta</title>
		<link href="../static/main.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<h1>Super Geocoder</h1>
			<h3>Transforms the address in its coordinates (longitude and latitude).</h3>
			<h3>Please upload your CSV file. The values containing addresses should be in a column named <i>address</i> or <i>Address</i>.</h3>
			<div class="message">
				{{text | safe}}
			</div>
			<form action="{{url_for('success')}}" method="POST" enctype="multipart/form-data">
				<input type="file" name="file_base">
				<button type="submit">Submit</button>
			</form>
			{% for table in tables %}
            	{{ table|safe }}
			{% endfor %}
			{% include [btn] ignore missing %}
		</div>
	</body>
</html>